<!DOCTYPE html>
<html>
<head>
<title>Reset Password</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="min-h-screen flex items-center justify-center">

<div class="w-full max-w-sm p-6 shadow rounded-xl">

<h2 class="text-xl font-bold mb-4">
Create New Password
</h2>

<form method="POST">
{{ csrf_token() }}


<!-- New Password -->
<div class="relative mb-3">

<input
id="password"
type="password"
name="password"
placeholder="New password"
required
class="w-full border rounded px-3 py-2 pr-10"
/>

<button
type="button"
onclick="togglePassword('password', this)"
class="absolute right-2 top-2"
>
👁
</button>

</div>

<!-- Confirm Password -->
<div class="relative mb-3">

<input
id="confirm_password"
type="password"
name="confirm_password"
placeholder="Confirm password"
required
class="w-full border rounded px-3 py-2 pr-10"
/>

<button
type="button"
onclick="togglePassword('confirm_password', this)"
class="absolute right-2 top-2"
>
👁
</button>

</div>
<button
type="submit"
class="w-full py-2 rounded bg-blue-600 text-white">
Reset Password
</button>

</form>

</div>

<script>

function togglePassword(fieldId, btn) {

  const field = document.getElementById(fieldId)

  if (field.type === "password") {
      field.type = "text"
      btn.innerText = "🙈"
  } else {
      field.type = "password"
      btn.innerText = "👁"
  }

}

</script>

</body>
</html>