<!DOCTYPE html>
<html>
<head>
<title>Password Reset Verification</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="min-h-screen flex items-center justify-center">

<div class="w-full max-w-sm p-6 shadow rounded-xl">

<h2 class="text-xl font-bold mb-4">
Password Reset Verification
</h2>

<p class="text-sm mb-4">
Enter the 6-digit code sent to your email.
</p>

<p class="text-sm mb-3">
Code expires in: <span id=countdown">5:00</span>
</p>

<form method="POST">

<input
type="text"
name="otp"
maxlength="6"
required
class="w-full border rounded px-3 py-2 mb-3"
/>

<button
type="submit"
class="w-full py-2 rounded bg-blue-600 text-white">
Verify Code
</button>

</form>

</div>

<script>

const otpTime = {{ otp_time }};
const expiry = otpTime + 300;

function updateTimer(){

const now = Math.floor(Date.now()/1000);

let remaining = expiry - now;

if(remaining <= 0){
document.getElementById("countdown").innerText = "Expired";
return;
}

let minutes = Math.floor(remaining / 60);
let seconds = remaining % 60;

if(seconds < 10){
seconds = "0" + seconds;
}

document.getElementById("countdown").innerText =
minutes + ":" + seconds;

}

setInterval(updateTimer,1000);
updateTimer();

</script>

</body>
</html>